body{
    margin: 0px;
    padding: 0px;
    background-color: #161f28;
    font-family: "Segoe UI", "Arial";
}

header{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url('https://m.popkey.co/653234/RelLL.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0px;
    color: #fff;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    margin: auto;
}

header h1 span{
    color: #f57c00;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(255,152,0,0.3);
}

.logo{
    margin: 0px;
    color: #fff;
    padding: 10px;
    font-weight: normal;
    margin: auto;
    margin-left: 5%;
}

.logo span{
    color: #f57c00;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(255,152,0,0.3);
}

main{
    background-color: #11181f;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

article{
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

article h2{
    font-family: "Segoe UI Light";
    margin: 0px;
    text-align: center;
}

.line{
    width: 100%;
    overflow: hidden;
}

.userResponse{
    margin-bottom: 125px;
    margin-left: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    float: left;
}

.userResponse input{
    width: 250px;
    background: none;
    border: none;
    font-family: "Segoe UI";
    color: #fff;
    border-bottom: 2px solid #e65100;
    padding: 10px;
    font-size: 15px;
}

.userResponse button{
    background-color: #e65100;
    border: none;
    padding: 10px;
    color: #fff;
    font-family: "Segoe UI";
    float: right;
    width: 50%;
    transition: .3s;
}

.userResponse button:hover{
    background-color: #b33000;
    box-shadow: 0px 0px 15px 0px #b33000;
}

.userResponse button:active{
    background-color: #ff9800;
}

.userReference img{
    border-radius: 50%;
}

.userResponse img{
    border-radius: 50%;
}

.userResponse p{
    margin-left: 25px;
}

.userReference{
    margin-top: 125px;
    margin-bottom: 50px;
    margin-right: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    float: right;
}

.userReference p{
    margin-right: 25px;
    text-align: right;
}

.watermark{
    color: #eee;
    font-size: 15px;
    position: absolute;
    font-family: "Yu Gothic";
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
}

.userPost{
    text-align: center;
    width: 33%;
    overflow: hidden;
    float: left;
    margin-top: 50px;
}

.userPost:hover > p{
    background-color: #53667a;
}

.userPost:hover > div > img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
}

.userPost img{
    width: 100%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    float: left;
    transition: .5s;
}

.userPost p{
    overflow: hidden;
    margin: 0px;
    padding: 15px;
    background-color: #161f28;
    transition: .3s;
    margin: 2px;
}

.userPost p span:nth-child(1){
    float: left;
    font-weight: bold;
}

.userPost p span:nth-child(2){
    float: right;
}

.userPost .postWrapper{
    overflow: hidden;
    margin: 2px;
}

.userPost p i{
    margin-right: 5px;
}

.callToAction{
    background: none;
    border: none;
    color: #fff;
    width: 33%;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #e65100;
    font-family: "Segoe UI Light";
    font-size: 15px;
    padding: 15px;
    transition: .3s;
}

.callToAction i{
    margin-right: 10px;
}

.callToAction:hover{
    background-color: #b33000;
    box-shadow: 0px 0px 15px 0px #b33000;
}

.callToAction:active{
    background-color: #ff9800;
}

footer{
    background-color: red;
    margin-top: 20px;
    min-height: 350px;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    url('http://i.imgur.com/AwFLtxX.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        display: flex;
    align-items: center;
}

footer p{
    margin: 0px;
    color: #fff;
    margin-left: 10%;
}

a{
    text-decoration: none;
    color: #e65100;
}